* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: $font-primary;
    font-size: $type-size-base;
    color: $color-font-primary;
    background-color: $color-background;
}

.container {
    padding: 0 $page-margin;
    max-width: $width-container;
    margin: 0 auto;
}

