header {
    padding: $r 0;
    box-shadow: $shadow;
    position: sticky;
    top: 0;
    left: 0;
    z-index: $zheader;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            display: flex;
            column-gap: $gutter;
            justify-content: flex-end;
            text-align: center;
        }
    }
}